<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="style.css">
       
        </head>
<body>
  
    <div id="app-5">
    </div> 
      
    <div id="toolBtns">
        <div class="top">
          <p class="switchText" > mode actuel : {{ modeToDisplay }} </p>
          <label class="switch">
          <input v-on:click="switchMode" type="checkbox" v-model="autoMode">
          <span class="slider round"></span>
          </label>
          <p class="switchText" > Scene actuelle : {{ activeBtn }} </p>
        </div>
        <transition name="fade">
          <div v-if="viewButton" class="middle" >
            
            <button v-for="i of [0,1,2,3,4,5]" type="button" v-on:click="setActiveBtn(i)" 
            :class="{ active: activeBtn === i , inactive: activeBtn !== i }"
            :style="{background: `url('images/${i}.jpg')  no-repeat scroll 0 0 transparent`}"
            > {{nameButton[i]}} </button>
          

          </div>
      </transition>
    </div>
<!-- 
    <div id="app">
      {{ message }}
    </div> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.slim.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- <script src="conf.js"></script> -->
  <script src="app.js"></script>

  
</body>
  </html>