 [Unit]
 Description=trevouxServer
 After=multi-user.target

 [Service]
 WorkingDirectory=/home/pi/Documents/trevouxServer
 ExecStart=/bin/bash run.sh

 [Install]
 WantedBy=multi-user.target
