 [Unit]
 Description=trevouxServer
 After=multi-user.target

 [Service]
 ExecStart=/bin/bash /home/pi/Documents/trevouxServer/run.sh

 [Install]
 WantedBy=multi-user.target
